<h1 class="text-center mt-5">About Us</h1>

<p> Here in the Jungle, we don't just pride ourselves with the freshest and lush-est(?) plants but also in our plants puns. In fact, most of our staff are paid not only by the hour, but by the pun. This will encourage the creative juices to flow and promote creativity in our workplace. Please see just a sample few of our puns below:</p>


<h2>Flower puns</h2>
<p>1. What did the sunflower say to her BFF when she reached 5 feet tall?</p>
<p><em>“You grow, girl!”</em></p>
<p>2. What did the rose text her best bud?</p>
<p><em>“I'm all dressed up and have nowhere to grow!”</em></p>
<p>3. What's the fiercest type of flower?</p>
<p><em>A dandelion!</em></p>
<p>4. You can poppy-n anytime!</p>
<p>5. What did the husband say when his wife told him he bought the wrong flowers?</p>
<p><em>“Oopsie daisy!”</em></p>
<p>6. It's just one of rose things….</p>
<p>7. What in carnation?</p>
<p>8. How do roses kiss?</p>
<p><em>They plant one on the other's cheek.</em></p>
<p>9. Mum's the word!</p>
<p>10. He's just a one-trick peony.</p>
<p>11. Iris you all the happiness in the world.</p>
<p>12. What did the boy plant say to his girlfriend?</p>
<p><em>“I'll never leaf you.”</em></p>
<p>13. Put the petal to the metal.</p>
<p>14. She has a violet streak.</p>
<p>15. How do you grow a flower that glows in the dark?</p>
<p><em>With a light bulb.</em></p>
<p>16. OK, Bloomer!</p>
<p>17. If I had a trillium dollars.</p>
<p>18. What happens when a flower blushes?</p>
<p><em>It turns rosy.</em></p>
<p>19. I lilac you.</p>
<p>20. What part of a flower has the most friends?</p>
<p><em>The bud.</em></p>
<p>21. Did you hear the story about the flower who went on a date with another flower?</p>
<p><em>It's a budding romance!</em></p>
<p>22. What did the flower tell the other flower after she told a joke?</p>
<p><em>“I was just pollen your leg!”</em></p>
<p>23. Why did the flower decide to try out Tinder?</p>
<p><em>He was just looking for somebudy to love.</em></p>
<p>24. What did the flower tell the taxi driver so he'd go faster?</p>
<p><em>“Floret!”</em></p>
<p>25. What did the flower decide to study in college?</p>
<p><em>STEM.</em></p>
<p>26. How does a flower whistle?</p>
<p><em>By using its tulips.</em></p>
<p>27. How did the flower get over the fight she had with her sister?</p>
<p><em>She rose above it.</em></p>
<p>28. What do you do after you take a picture of a flower?</p>
<p><em>You wait for it to photosynthesize.</em></p>
<p>29. How do flowers greet each other in the morning?</p>
<p><em>“Hey, bud! How's it growing?”</em></p>
<p>30. I love you a lily more each day.</p>
<p>31. Why couldn't the flower ride its bicycle to school?</p>
<p><em>It lost its petals.</em></p>
<p>32. What did the flower ask the sad flower?</p>
<p><em>“Are you doing bouquet?”</em></p>
<p>33. A peony saved is a peony earned.</p>
<p>34. How did the flower get a boat from one side of the lake to the other?</p>
<p><em>It rose.</em></p>
<p>35. Where do flowers go when they need to recharge after a long day?</p>
<p><em>The power plant.</em></p>

<h2 class="mt-5">Cactus puns</h2>
<p>36. What did one cactus say to the other cactus?</p>
<p><em>“You're looking sharp!”</em></p>
<p>37. Can't touch this!</p>
<p>38. What did the girl cactus say to the boy cactus?</p>
<p><em>“I'm so glad we pricked each other!”</em></p>
<p>39. You prickle my fancy!</p>
<p>40. I'm totally stuck on you.</p>
<p>41. Pretty fly for a cacti.</p>
<p>42. Cact-I + Cact-ME = Cact-US</p>

<h2 class="mt-5">Tree puns</h2>
<p>43. What has no fingers but lots of rings?</p>
<p><em>A tree.</em></p>
<p>44. Why are trees so tall and thin?</p>
<p><em>They only eat light.</em></p>
<p>45. What's a nervous tree called?</p>
<p><em>A sweaty palm.</em></p>
<p>46. Why do trees have so many friends?</p>
<p><em>They branch out.</em></p>
<p>47. How do trees get on Instagram?</p>
<p><em>They log in.</em></p>
<p>48. How did the tree ask out his crush?</p>
<p><em>He said, “Wood you be mine?”<</em>/p>

<h2 class="mt-5">Leaf puns</h2>
<p>49. Take a leaf of faith!</p>
<p>50. What would an MTV show about a plant be called?</p>
<p><em>A Day in the Leaf.</em></p>
<p>51. You're unbeleafable!</p>
<p>52. Take it or leaf it.</p>
<p>53. How do plants keep things under control?</p>
<p><em>They weed out unnecessary drama and ask troublemakers to leaf.</em></p>
<p>54. Last bud not leaf.</p>

<h2 class="mt-5">Succulent puns</h2>
<p>55. How does a plant answer the phone?</p>
<p><em>“Aloe?”</em></p>
<p>56. Aloe you vera much.</p>
<p>57. Say aloe to my little friend.</p>
<p>58. Here's hoping your day doesn't suc.</p>
<p>59. What did the succulent learn in math class?</p>
<p><em>How to do square roots!</em></p>

<h2 class="mt-5">Garden puns</h2>
<p>60. What did the plant tell the DJ?</p>
<p><em>“Turnip the volume!”</em></p>
<p>61. Why did the cabbage win the track race at school?</p>
<p><em>Because it was ahead.</em></p>
<p>62. What song does a gardener know all the words to?</p>
<p><em>“Lettuce Be.”</em></p>
<p>63. I beg your garden?</p>
<p>64. What flowers should you never give as gifts?</p>
<p><em>Cauliflowers.</em></p>
<p>65. What did the mama lettuce tell her little ones when it started to storm?</p>
<p><em>“Everyone needs to romaine calm.”</em></p>
<p>66. What garden plant is always cold?</p>
<p><em>A chili.</em></p>
<p>67. What kind of garden does a baker usually have?</p>
<p><em>A flour garden.</em></p>
<p>68. Why didn't the flower get to go out on a second date?</p>
<p><em>He was a garden variety.</em></p>
<p>69. What did the watermelon say to his crush?</p>
<p><em>“You're one in a melon!”</em></p>
<p>70. What did one plant lady say to another plant lady?</p>
<p><em>“Botany plants lately?”</em></p>
<p>71. He just needed a kick in the bud.</p>
<p>72. Pot it like it's hot.</p>
<p>73. What did the pirate call his vegetable patch?</p>
<p><em>His garrrrgh-den.</em></p>
<p>74. What do you call the leftover bits of lettuce at the bottom of your salad bowl?</p>
<p><em>The last romaines.</em></p>

<h2 class="mt-5">Nature puns</h2>
<p>75. What did the mama plant tell her kids?</p>
<p><em>“Don't moss around!”</em></p>
<p>76. How is a flower similar to the letter A?</p>
<p><em>A bee goes after it.</em></p>
<p>77. What's a frog's favorite type of flower?</p>
<p><em>Croakus!</em></p>
<p>78. I'm rooting for you!</p>
<p>79. Where did the plant want to travel?</p>
<p><em>All clover the world!</em></p>
<p>80. What plant should you watch out for?</p>
<p><em>An ambush!</em></p>
<p>81. What kind of plant pictures get the most likes on social media?</p>
<p><em>Thirst traps.</em></p>
<p>82. How do you get a plant drunk?</p>
<p><em>You give it root beer.</em></p>
<p>83. Sorry, I already have plants this weekend.</p>
<p>84. Let's have a little fern!</p>
<p>85. What's the scariest plant?</p>
<p><em>Bam-boo!</em></p>

<h2 class="mt-5">Green puns</h2>
<p>86. Why did the gardener think her plant was sick?</p>
<p><em>It was looking very green.</em></p>
<p>87. What advice can you give a plant that's having a hard day?</p>
<p><em>Just green and bear it.</em></p>
<p>88. You can't plant greenery if you haven't botany.</p>
<p>89. Why does Yoda grow such pretty plants?</p>
<p><em>He has green thumbs!</em></p>

<h2 class="mt-5">Herb puns</h2>
<p>90. One more thyme.</p>
<p>91. What's a cheerleading herb called?</p>
<p><em>An encourage mint.</em></p>
<p>92. What did the plant say to her sister when she came home?</p>
<p><em>“Long thyme no see.”</em></p>
<p>93. Good chives only.</p>
<p>94. Thistle do.</p>
<p>95. What's green and sings?</p>
<p><em>Elvis Parsley.</em></p>

<h2 class="mt-5">Farm puns</h2>
<p>96. When does a farmer usually dance?</p>
<p><em>When he drops a beet.</em></p>
<p>97. Why was the farmer super embarrassed yesterday?</p>
<p><em>He wet his plants.</em></p>
<p>98. Why didn't the crops' relationship work out?</p>
<p><em>They were dating lawn-distance, so they weren't really fielding it.</em></p>
<p>99. How does a farmer host a garden party?</p>
<p><em>He turnips the beet.</em></p>
<p>100. What is a baby chick's favorite type of plant?</p>
<p><em>An egg-plant!</em></p>